<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Drug Type Indentification</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Drug Typr Identification</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
 				<input class="form-input" type="text" name='Age' placeholder="Age of the patient"><br>
 				<input class="form-input" type="text" name='Sex' placeholder="Gender of the patient"><br>
                <input class="form-input" type="text" name="BP" placeholder="Blood Pressure (High/Low/Normal)"><br>
                <input class="form-input" type="text" name="Cholesterol" placeholder="Cholesterol level (High/Normal)"><br>
                <input class="form-input" type="text" name="Na_to_K" placeholder="Ratio of Na to K (value)"><br>

        		<input type="submit" class="my-cta-button" value="Predict the Drug">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/letdatado"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/s-m-ali-rizvi-a1b550217"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made by S M Ali with due credits to Anuj Vyas for the flask deployment. Thanks Anuj!</p>
           			
            
       </div>

    </body>
</html>